<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyTestSquadChooser</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<div id="inputArea"></div>

	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger",  "model/js/SquadBuilder", "artifact/js/Faction",
				"view/js/SquadChooser"
			],
			function(React, ReactDOM, DOM, Logger, SquadBuilder, Faction, SquadChooser)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				var faction = [Faction.IMPERIAL, Faction.REBEL, Faction.SCUM].xwingRandomElement();
				var agent = new Agent(store, "Placeholder", faction);
				var squadBuilders = SquadBuilder.findByFaction(faction);

				var element = React.createElement(SquadChooser,
				{
					agent: agent,
					resourceBase: resourceBase,
					squadBuilders: squadBuilders,
					onChange: myOnChange,
				});
				ReactDOM.render(element, document.getElementById("inputArea"));

				function myOnChange(squadBuilder)
				{
					LOGGER.info("myOnChange() squadBuilder = " + squadBuilder);
				}
			});
	</script>
</body>

</html>
