<!DOCTYPE html>
<html>
<head>
	<title>MyTestUpgradeTypeUI</title>

	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<table>
		<tr>
			<td id="upgradeTypePanel"></td>
		</tr>
	</table>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "artifact/js/UpgradeType", "view/js/UpgradeTypeUI"],
			function(React, ReactDOM, DOM, Logger, UpgradeType, UpgradeTypeUI)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var values = UpgradeType.keys();
				var resourceBase = "../../../src/view/resource/";
				var style = {
					backgroundColor: "#F0F0F0",
					border: "1px solid lightGray",
					fontSize: "small",
					textAlign: "left",
				};
				var rows = [];

				values.forEach(function(upgradeTypeKey, i)
				{
					var upgradeType = UpgradeType.properties[upgradeTypeKey];

					var image0 = React.createElement(UpgradeTypeUI,
					{
						upgradeType: upgradeType,
						resourceBase: resourceBase,
					});

					var image1 = React.createElement(UpgradeTypeUI,
					{
						upgradeType: upgradeType,
						resourceBase: resourceBase,
						showName: true,
					});

					var cells = [];

					cells.push(DOM.td(
					{
						key: "standard",
						style: style,
					}, image0));
					cells.push(DOM.td(
					{
						key: "standard+name",
						style: style,
					}, image1));

					rows.push(DOM.tr(
					{
						key: rows.length,
					}, cells));
				});

				ReactDOM.render(DOM.table(
				{}, DOM.tbody(
				{}, rows)), document.getElementById("upgradeTypePanel"));
			});
	</script>
</body>

</html>
