<!DOCTYPE html>
<html>
<head>
	<title>MyTestCombatUI</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<table>
		<tr>
			<td>
				<div id="inputArea0"></div>
			</td>
		</tr>
		<tr>
			<td style="padding-top: 20px;">
				<div id="inputArea1"></div>
			</td>
		</tr>
		<tr>
			<td style="padding-top: 20px;">
				<div id="inputArea2"></div>
			</td>
		</tr>
	</table>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "redux", "common/js/Logger", "model/js/Ability", "artifact/js/DiceModification", "artifact/js/Phase",
				"artifact/js/PilotCard", "model/js/Position", "artifact/js/Faction", "artifact/js/UpgradeCard", "model/js/Action", "model/js/Adjudicator",
				"model/js/AttackDice", "model/js/CombatAction", "model/js/DefenseDice", "model/js/Environment", "model/js/ModifyDiceAbility", "model/js/Reducer",
				 "model/js/Squad", "model/js/CardInstance", "model/js/CardAction", "view/js/CombatUI", "../test/model/js/MockAttackDice",
				"../test/model/js/MockDefenseDice"
			],
			function(React, ReactDOM, DOM, Redux, Logger, Ability, DiceModification, Phase, PilotCardCard, Position, Faction, UpgradeCard, Action, Adjudicator,
				AttackDice,
				CombatAction, DefenseDice, Environment, ModifyDiceAbility, Reducer, Squad, CardInstance, CardAction, CombatUI, MockAttackDice, MockDefenseDice)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";

				var store00 = Redux.createStore(Reducer.root);
				var imperialAgent = new Agent(store, "Imperial Agent", Faction.IMPERIAL);
				var rebelAgent = new Agent(store, "Rebel Agent", Faction.REBEL);
				var squad1 = new Squad(Faction.IMPERIAL, "squad1", 2016, "squad1", [new CardInstance(store00, PilotCardCard.CAPTAIN_OICUNN, imperialAgent, [UpgradeCard.YSANNE_ISARD])]);
				var squad2 = new Squad(Faction.REBEL, "squad2", 2017, "squad2", [new CardInstance(store00, PilotCardCard.LUKE_SKYWALKER, rebelAgent, [UpgradeCard.PROTON_TORPEDOES,
					UpgradeCard.R2_D2
				])]);
				var positions1 = [new Position(305, 20, 90)];
				var positions2 = [new Position(458, 895, 270)];

				var store = Redux.createStore(Reducer.root);
				var environment = new Environment(store, imperialAgent, squad1, rebelAgent, squad2, positions1, positions2);
				var adjudicator = new Adjudicator(store);
				var tokens = environment.pilotInstances();
				var attacker = tokens[1]; // X-Wing.
				var defender = tokens[0]; // VT-49 Decimator.

				var attackDice = new AttackDice(store, attacker.id(), 5);
				var defenseDice = new DefenseDice(store, attacker.id(), 0);
				store.dispatch(CardAction.addEvadeCount(defender));
				environment.setActiveToken(attacker);
				var weapon = attacker.primaryWeapon();
				var callback = function() {};
				var delayIn = 10;
				var combatAction = new CombatAction(store, attacker, weapon, defender, callback, delayIn, MockAttackDice, MockDefenseDice);
				store.dispatch(Action.setTokenCombatAction(attacker, combatAction));
				var modifications1 = [new Ability(DiceModification, DiceModification.DEFENSE_SPEND_EVADE, ModifyDiceAbility, ModifyDiceAbility.DEFENSE_KEY)];

				var element1 = React.createElement(CombatUI,
				{
					attacker: attacker,
					attackDice: attackDice,
					defender: defender,
					defenseDice: defenseDice,
					resourceBase: resourceBase,
					modifications: modifications1,
					okFunction: myOK1,
					phase: Phase.properties[Phase.COMBAT_MODIFY_DEFENSE_DICE],
					weapon: weapon,
				});
				ReactDOM.render(element1, document.getElementById("inputArea1"));

				function myOK1(modification)
				{
					LOGGER.info("myOK1() modification = " + modification);
				}
			});
	</script>
</body>

</html>
