<!DOCTYPE html>
<html>
<head>
	<title>MyTestPilotCardCompactUI</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

	<style>
		.pilotCell {
			padding: 10px;
			vertical-align: top;
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<td id="panel0" class="pilotCell"></td>
			<td id="panel1" class="pilotCell"></td>
		</tr>
		<tr>
			<td id="panel2" class="pilotCell"></td>
			<td id="panel3" class="pilotCell"></td>
		</tr>
		<tr>
			<td id="panel4" class="pilotCell"></td>
			<td id="panel5" class="pilotCell"></td>
		</tr>
		<tr>
			<td id="panel6" class="pilotCell"></td>
			<td id="panel7" class="pilotCell"></td>
		</tr>
		<tr>
			<td id="panel8" class="pilotCell"></td>
			<td id="panel9" class="pilotCell"></td>
		</tr>
	</table>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "redux", "common/js/Logger", "artifact/js/DamageCard", "artifact/js/PilotCard", "artifact/js/Faction",
				"artifact/js/UpgradeCard",
				"model/js/Action", "model/js/Agent", "model/js/CardAction", "model/js/CardInstance", "model/js/DualCardInstance", "model/js/Environment",
				"model/js/Position", "model/js/Reducer", "model/js/Squad", "model/js/TargetLock", "view/js/PilotCardCompactUI"
			],
			function(React, ReactDOM, DOM, Redux, Logger, DamageCard, PilotCard, Faction, UpgradeCard,
				Action, Agent, CardAction, CardInstance, DualCardInstance, Environment, Position, Reducer, Squad, TargetLock, PilotCardCompactUI)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				var store00 = Redux.createStore(Reducer.root);

				var teamKey1 = Faction.IMPERIAL;
				var imperialAgent = new Agent(store00, "Imperial", teamKey1);
				var imperialToken = new CardInstance(store00, PilotCard.MAULER_MITHEL, imperialAgent, [UpgradeCard.MARKSMANSHIP]);
				var foToken = new CardInstance(store00, PilotCard.EPSILON_LEADER, imperialAgent);
				var gozantiToken = new CardInstance(store00, PilotCard.GOZANTI_CLASS_CRUISER, imperialAgent);
				var raiderToken = new DualCardInstance(store00, PilotCard.RAIDER_CLASS_CORVETTE, imperialAgent);
				var scumToken = new CardInstance(store00, PilotCard.IG_88A, imperialAgent);
				var scumToken2 = new CardInstance(store00, PilotCard.DENGAR, imperialAgent);

				var teamKey2 = Faction.REBEL;
				var rebelAgent = new Agent(store00, "Rebel", teamKey2);
				var rebelToken = new CardInstance(store00, PilotCard.LUKE_SKYWALKER, rebelAgent, [UpgradeCard.PROTON_TORPEDOES, UpgradeCard.R2_D2]);
				var resistanceToken = new CardInstance(store00, PilotCard.POE_DAMERON, rebelAgent);
				var gr75Token = new CardInstance(store00, PilotCard.GR_75_MEDIUM_TRANSPORT, rebelAgent, [UpgradeCard.DUTYFREE, UpgradeCard.RAYMUS_ANTILLES,
					UpgradeCard.FREQUENCY_JAMMER,
					UpgradeCard.EM_EMITTER
				]);
				var cr90Token = new DualCardInstance(store00, PilotCard.CR90_CORVETTE, rebelAgent, [UpgradeCard.HAN_SOLO, UpgradeCard.QUAD_LASER_CANNONS, UpgradeCard.QUAD_LASER_CANNONS], [
					UpgradeCard.WEAPONS_ENGINEER, UpgradeCard.QUAD_LASER_CANNONS, UpgradeCard.ENGINEERING_TEAM, UpgradeCard.TIBANNA_GAS_SUPPLIES
				]);

				var squad1 = new Squad(teamKey1, "squad1", 2017, "squad #1", [imperialToken, foToken, gozantiToken, raiderToken, scumToken, scumToken2]);
				var squad2 = new Squad(teamKey2, "squad2", 2016, "squad #2", [rebelToken, resistanceToken, gr75Token, cr90Token]);
				var positions1 = [new Position(865, 50, 90), new Position(200, 200, 0), new Position(150, 100, 0), new Position(250, 100, 0), new Position(202, 200, 0),
					new Position(203, 200, 0)
				];
				var positions2 = [new Position(50, 50, 0), new Position(201, 200, 0), new Position(100, 100, 0), new Position(150, 150, 0)];

				var store = Redux.createStore(Reducer.root);
				var environment = new Environment(store, imperialAgent, squad1, rebelAgent, squad2, positions1, positions2);
				imperialAgent = environment.firstAgent();
				rebelAgent = environment.secondAgent();

				var tokens = environment.pilotInstances();
				var i = 0;
				imperialToken = tokens[i++];
				foToken = tokens[i++];
				gozantiToken = tokens[i++];
				raiderToken = tokens[i++];
				scumToken = tokens[i++];
				scumToken2 = tokens[i++];
				rebelToken = tokens[i++];
				resistanceToken = tokens[i++];
				gr75Token = tokens[i++];
				cr90Token = tokens[i++];

				store.dispatch(CardAction.addCloakCount(imperialToken));
				store.dispatch(CardAction.addEvadeCount(imperialToken, 2));
				store.dispatch(CardAction.addFocusCount(imperialToken, 3));
				imperialToken.receiveCriticalDamage(new CardInstance(store, DamageCard.CONSOLE_FIRE));
				imperialToken.receiveCriticalDamage(new CardInstance(store, DamageCard.DAMAGED_COCKPIT));
				store.dispatch(CardAction.addWeaponsDisabledCount(foToken));
				store.dispatch(CardAction.addEnergyCount(gozantiToken));
				store.dispatch(CardAction.addEnergyCount(raiderToken.tokenAft(), 2));
				store.dispatch(CardAction.addTractorBeamCount(scumToken));
				store.dispatch(CardAction.addWeaponsDisabledCount(scumToken));

				store.dispatch(CardAction.addIonCount(rebelToken));
				store.dispatch(CardAction.addStressCount(rebelToken));
				rebelToken.receiveCriticalDamage(new CardInstance(store, DamageCard.DAMAGED_ENGINE));
				store.dispatch(CardAction.setShieldCount(resistanceToken, 0));
				store.dispatch(CardAction.addEnergyCount(gr75Token, 2));
				gr75Token.receiveCriticalDamage(new CardInstance(store, DamageCard.CONSOLE_FIRE));
				gr75Token.receiveCriticalDamage(new CardInstance(store, DamageCard.DAMAGED_COCKPIT));
				store.dispatch(CardAction.addEnergyCount(cr90Token.tokenAft()));
				cr90Token.tokenFore().receiveCriticalDamage(new CardInstance(store, DamageCard.CONSOLE_FIRE));
				cr90Token.tokenFore().receiveCriticalDamage(new CardInstance(store, DamageCard.DAMAGED_COCKPIT));
				cr90Token.tokenAft().receiveCriticalDamage(new CardInstance(store, DamageCard.DAMAGED_SENSOR_ARRAY));

				TargetLock.newInstance(store, imperialToken, rebelToken);
				TargetLock.newInstance(store, rebelToken, scumToken);
				TargetLock.newInstance(store, scumToken, imperialToken);
				TargetLock.newInstance(store, cr90Token.tokenFore(), foToken);

				tokens.forEach(function(token, i)
				{
					var element = React.createElement(PilotCardCompactUI,
					{
						resourceBase: resourceBase,
						token: token,
					});
					ReactDOM.render(element, document.getElementById("panel" + i));
				});
			});
	</script>
</body>

</html>
