<!DOCTYPE html>
<html>
<head>
	<title>MyTestShipImage</title>

	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<table style="background-color: Black;">
		<tr>
			<td>
				<canvas id="firesprayCanvas" width="100" height="100"></canvas>
			</td>
			<td>
				<canvas id="tieDefenderCanvas" width="100" height="100"></canvas>
			</td>
			<td>
				<canvas id="arc170Canvas" width="100" height="100"></canvas>
			</td>
			<td>
				<canvas id="vcx100Canvas" width="100" height="100"></canvas>
			</td>
			<td>
				<canvas id="firespray2Canvas" width="100" height="100"></canvas>
			</td>
			<td>
				<canvas id="yv666Canvas" width="100" height="100"></canvas>
			</td>
			<td>
				<canvas id="tieSfFighterCanvas" width="100" height="100"></canvas>
			</td>
		</tr>
	</table>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "model/js/Position", "artifact/js/ShipFaction", "artifact/js/Faction",
				"view/js/ShipImage"
			],
			function(React, ReactDOM, DOM, Logger, Position, ShipFaction, Faction, ShipImage)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				var id = 1;

				drawShip(id++, "firesprayCanvas", ShipFaction.properties[ShipFaction.IMPERIAL_FIRESPRAY_31]);
				drawShip(id++, "tieDefenderCanvas", ShipFaction.properties[ShipFaction.IMPERIAL_TIE_DEFENDER_V2]);

				drawShip(id++, "arc170Canvas", ShipFaction.properties[ShipFaction.REBEL_ARC_170]);
				drawShip(id++, "vcx100Canvas", ShipFaction.properties[ShipFaction.REBEL_VCX_100]);

				drawShip(id++, "firespray2Canvas", ShipFaction.properties[ShipFaction.SCUM_FIRESPRAY_31]);
				drawShip(id++, "yv666Canvas", ShipFaction.properties[ShipFaction.SCUM_YV_666]);

				drawShip(id++, "tieSfFighterCanvas", ShipFaction.properties[ShipFaction.FIRST_ORDER_TIE_SF_FIGHTER]);

				function drawShip(id, elementId, shipFaction)
				{
					var canvas = document.getElementById(elementId);
					var context = canvas.getContext("2d");
					var scale = 1.0;
					var position = new Position(50, 50, 0);
					var image = new Image();
					image.onload = function()
					{
						ShipImage.draw(context, scale, id, image, position, shipFaction);
					}
					image.src = resourceBase + "ship/" + shipFaction.image;
				}
			});
	</script>
</body>

</html>
