<!DOCTYPE html>
<html>
<head>
	<title>MyTestAbilityCountUI</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<div id="panel"></div>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "view/js/AbilityCountUI"],
			function(React, ReactDOM, DOM, Logger, AbilityCountUI)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var abilityCounts = [];
				var rows = [];
				var cells = [];

				abilityCounts.push(React.createElement(AbilityCountUI,
				{
					implementedCount: 1,
					abilityCount: 2,
				}));
				abilityCounts.push(React.createElement(AbilityCountUI,
				{
					implementedCount: 17,
					abilityCount: 50,
				}));
				abilityCounts.push(React.createElement(AbilityCountUI,
				{
					implementedCount: 34,
					abilityCount: 0,
				}));
				abilityCounts.push(React.createElement(AbilityCountUI,
				{
					implementedCount: 0,
					abilityCount: 0,
				}));

				var cells = abilityCounts.map(function(abilityCount)
				{
					return DOM.div(
					{
						className: "dtc pa2",
					}, abilityCount);
				});

				var rows = cells.map(function(cell, i)
				{
					return DOM.div(
					{
						key: i,
						className: "dt-row",
					}, cell);
				});

				ReactDOM.render(DOM.div(
				{
					className: "bg-light-gray center dt",
				}, rows), document.getElementById("panel"));
			});
	</script>
</body>

</html>
