<!DOCTYPE html>
<html>
<head>
	<title>MyTestSelect</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<div id="testPanel">testPanel</div>
	<script>
		"use strict";

		require(["react", "react-dom", "common/js/Logger", "view/js/Select"],
			function(React, ReactDOM, Logger, Select)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var values = ["zero", "one", "two"];
				var labelFunction = function(value)
				{
					return value.toUpperCase();
				}
				var initialSelectedValue = values[1];
				var select = React.createElement(Select,
				{
					values: values,
					labelFunction: labelFunction,
					initialSelectedValue: initialSelectedValue,
					onChange: myOnChange,
					clientProps:
					{
						"data-myprop": "something",
					}
				});
				var selectElement = ReactDOM.render(select, document
					.getElementById("testPanel"));

				function myOnChange(event)
				{
					LOGGER.info("event = " + event);
					LOGGER.info("event = " + Object.getOwnPropertyNames(event));
					LOGGER.info("event.currentTarget = " + event.currentTarget);
					LOGGER.info("event.currentTarget = " + Object.getOwnPropertyNames(event.currentTarget));
					LOGGER.info("event.currentTarget.constructor = " + event.currentTarget.constructor);
					LOGGER.info("event.currentTarget.constructor = " + Object.getOwnPropertyNames(event.currentTarget.constructor));
					LOGGER.info("event.currentTarget.constructor.prototype = " + event.currentTarget.constructor.prototype);
					LOGGER.info("event.currentTarget.constructor.prototype = " + Object.getOwnPropertyNames(event.currentTarget.constructor.prototype));
					LOGGER.info("event.currentTarget.dataset.myprop = " + event.currentTarget.dataset.myprop);

					var selectedValue = event.currentTarget.key;
					LOGGER.info("myOnChange() selectedValue = " + selectedValue);
				}
			});
	</script>
</body>

</html>
