<!DOCTYPE html>
<html>
<head>
	<title>MyTestAbilityChooser</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<div id="inputPanel"></div>
	<script>
		"use strict";

		require(["react", "react-dom", "common/js/Logger", "model/js/Ability", "artifact/js/DamageCard",
				"artifact/js/Phase", "artifact/js/PilotCard", "artifact/js/ShipAction", "artifact/js/UpgradeCard",
				"model/js/DamageAbility2", "model/js/PilotAbility2", "model/js/ShipActionAbility", "model/js/UpgradeAbility2", "../test/model/js/EnvironmentFactory",
				"view/js/AbilityChooser"
			],
			function(React, ReactDOM, Logger, Ability, DamageCard,
				Phase, PilotCard, ShipAction, UpgradeCard,
				DamageAbility2, PilotAbility2, ShipActionAbility, UpgradeAbility2, EnvironmentFactory,
				AbilityChooser)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				var damageKeys = [DamageCard.CONSOLE_FIRE, DamageCard.MINOR_HULL_BREACH];
				var damages = damageKeys.map(function(damageKey)
				{
					return new Ability(DamageCard, damageKey, DamageAbility2, Phase.ACTIVATION_EXECUTE_MANEUVER);
				});
				var pilotKeys = [PilotCard.AIREN_CRACKEN, PilotCard.BOSSK, PilotCard.CAPTAIN_YORR];
				var pilots = pilotKeys.map(function(pilotKey)
				{
					return new Ability(PilotCard, pilotKey, PilotAbility2, Phase.ACTIVATION_EXECUTE_MANEUVER);
				});
				var shipActionKeys = [ShipAction.EVADE, ShipAction.FOCUS];
				var shipActions = shipActionKeys.map(function(shipActionKey)
				{
					return new Ability(ShipAction, shipActionKey, ShipActionAbility, ShipActionAbility.ABILITY_KEY);
				});
				var upgradeKeys = [UpgradeCard.LIGHTNING_REFLEXES, UpgradeCard.TIE_X7];
				var upgrades = upgradeKeys.map(function(upgradeKey)
				{
					return new Ability(UpgradeCard, upgradeKey, UpgradeAbility2, Phase.ACTIVATION_EXECUTE_MANEUVER);
				});

				var environment = EnvironmentFactory.createCoreSetEnvironment();
				var store = environment.store();
				var token = environment.tokens()[2]; // X-Wing

				var element = React.createElement(AbilityChooser,
				{
					damages: damages,
					resourceBase: resourceBase,
					onChange: callback,
					pilots: pilots,
					shipActions: shipActions,
					token: token,
					upgrades: upgrades,
				});
				ReactDOM.render(element, document.getElementById("inputPanel"));

				function callback(pilotKey, upgradeKey, isAccepted)
				{
					LOGGER.info("pilotKey = " + pilotKey + " upgradeKey = " + upgradeKey + " isAccepted ? " + isAccepted);
				}
			});
	</script>
</body>

</html>
