<!DOCTYPE html>
<html>
<head>
  <title>MyTestDualCardInstanceUI</title>

  <link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
  <link rel="stylesheet" href="../../../lib/xwing-miniatures-font/xwing-miniatures.css">
  <link rel="stylesheet" href="../../../src/view/css/style.css">

  <script src="../../../lib/requirejs/require-2.3.5.js"></script>
  <script src="../js/require-config.js"></script>
  <script src="../../../src/main.js"></script>

</head>
<body>
  <div id="panel"></div>
  <script>
    "use strict";

    require(["react", "react-dom", "react-dom-factories", "react-redux", "redux", "common/js/Logger", "artifact/js/DamageCard", "artifact/js/Faction",
        "artifact/js/PilotCard", "artifact/js/UpgradeCard", "model/js/Action", "model/js/CardAction", "model/js/CardInstance", "model/js/Reducer",
        "model/js/TargetLock", "view/js/CardInstanceUI", "../test/model/js/EnvironmentFactory"
      ],
      function(React, ReactDOM, DOM, ReactRedux, Redux, Logger, DamageCard, Faction, PilotCard, UpgradeCard, Action, CardAction, CardInstance, Reducer,
        TargetLock, CardInstanceUI, EnvironmentFactory)
      {
        window.LOGGER = new Logger();
        LOGGER.setTraceEnabled(false);
        LOGGER.setDebugEnabled(false);

        var resourceBase = "../../../src/view/resource/";
        var environment = EnvironmentFactory.createHugeShipEnvironment();
        var store = environment.store();
        store.dispatch(Action.setResourceBase(resourceBase));

        var pilotInstance2 = environment.pilotInstances()[2];
        var pilotInstance2Fore = pilotInstance2.tokenFore();
        var pilotInstance2Aft = pilotInstance2.tokenAft();
        var pilotInstance3 = environment.pilotInstances()[3];
        var pilotInstance3Fore = pilotInstance3.tokenFore();
        var pilotInstance3Aft = pilotInstance3.tokenAft();

        var cells = [];

        addCardInstanceUI(cells, pilotInstance2Fore);
        addCardInstanceUI(cells, pilotInstance2Aft);
        addCardInstanceUI(cells, pilotInstance3Fore);
        addCardInstanceUI(cells, pilotInstance3Aft);

        ReactDOM.render(DOM.div(
        {}, cells), document.getElementById("panel"));

        function addCardInstanceUI(cells, cardInstance)
        {
          var element = React.createElement(ReactRedux.Provider,
          {
            store: store,
          }, React.createElement(CardInstanceUI,
          {
            cardInstance: cardInstance,
          }));

          cells.push(DOM.div(
          {
            key: "card" + cells.length,
            className: "v-top",
          }, element));
        }
      });
  </script>
</body>

</html>
