<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyTestAgentSquadUI</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<div id="inputArea"></div>

	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "react-redux", "redux", "common/js/Logger", "artifact/js/Faction",
				"model/js/AgentSquadAction", "model/js/AgentSquadReducer", "model/js/Reducer", "model/js/SquadBuilder",
				"view/js/AgentSquadUI", "controller/js/SquadBuilderContainer"
			],
			function(React, ReactDOM, DOM, ReactRedux, Redux, Logger, Faction,
				AgentSquadAction, AgentSquadReducer, Reducer, SquadBuilder, AgentSquadUI, SquadBuilderContainer)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				var store = Redux.createStore(AgentSquadReducer.root);
				var delegateStore = Redux.createStore(Reducer.root);
				store.dispatch(AgentSquadAction.setDelegateStore(delegateStore));
				var faction = Faction.properties[Faction.IMPERIAL];
				var agent = new Agent(store, "Placeholder");
				var factionToSquadBuilders = {};
				[Faction.IMPERIAL, Faction.REBEL, Faction.SCUM].forEach(function(factionKey)
				{
					factionToSquadBuilders[factionKey] = SquadBuilder.findByFaction(factionKey);
				});
				var squadBuilder = factionToSquadBuilders[faction.key][0];
				var squad = squadBuilder.buildSquad(agent);

				store.dispatch(AgentSquadAction.setAgent(agent));
				store.dispatch(AgentSquadAction.setSquad(squad));

				var agentNameChanged = function(agentName)
				{
					store.dispatch(AgentSquadAction.setAgentName(agentName));
					renderAgentSquadUI();
				};
				var agentTypeChanged = function(agentType)
				{
					store.dispatch(AgentSquadAction.setAgentType(agentType));
					renderAgentSquadUI();
				};
				var factionChanged = function(factionIn)
				{
					faction = factionIn;
					store.dispatch(AgentSquadAction.setFaction(faction));
					renderAgentSquadUI();
				};
				var squadBuilderTypeChanged = function(squadBuilderType)
				{
					store.dispatch(AgentSquadAction.setSquadBuilderType(squadBuilderType));
					renderAgentSquadUI();
				};
				var squadChanged = function(squad)
				{
					store.dispatch(AgentSquadAction.setSquad(squad));
					renderAgentSquadUI();
				};

				function renderAgentSquadUI()
				{
					var element = React.createElement(ReactRedux.Provider,
					{
						store: store,
					}, React.createElement(AgentSquadUI,
					{
						agent: store.getState().agent,
						agentName: "Agent 1",
						agentNumber: 1,
						agentType: store.getState().agentType,
						agentTypes: [MediumAgent],
						faction: store.getState().faction,
						squadBuilders: factionToSquadBuilders[faction.key],
						inputAreaId: "inputArea",
						resourceBase: resourceBase,
						squad: store.getState().squad,
						squadBuilderClass: SquadBuilderContainer,
						squadBuilderType: store.getState().squadBuilderType,

						agentNameChanged: agentNameChanged,
						agentTypeChanged: agentTypeChanged,
						factionChanged: factionChanged,
						squadBuilderTypeChanged: squadBuilderTypeChanged,
						squadChanged: squadChanged,
					}));
					ReactDOM.render(element, document.getElementById("inputArea"));
				}

				renderAgentSquadUI();
			});
	</script>
</body>

</html>
