<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyTestTokenChooser</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<div id="inputArea0" style="background-color: lightBlue; display: inline-block;"></div>
	<div id="inputArea1" style="background-color: lightBlue; display: inline-block;"></div>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "redux", "common/js/Logger", "artifact/js/PilotCard", "model/js/Position", "artifact/js/Range",
				"artifact/js/Faction",
				"artifact/js/UpgradeCard", "model/js/Environment", "model/js/Reducer",
				"model/js/Squad",
				"model/js/SquadBuilder", "model/js/CardInstance", "view/js/TokenChooser"
			],
			function(React, ReactDOM, DOM, Redux, Logger, PilotCard, Position, Range, Faction, UpgradeCard, Environment, Reducer, Squad, SquadBuilder,
				CardInstance,
				TokenChooser)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var imperialAgent = new Agent(store, "Imperial Agent");
				var rebelAgent = new Agent(store, "Rebel Agent");
				var store = Redux.createStore(Reducer.root);
				var attacker = new CardInstance(store, PilotCard.DASH_RENDAR, rebelAgent, [UpgradeCard.OUTRIDER, UpgradeCard.CALCULATION, UpgradeCard.MANGLER_CANNON,
					UpgradeCard
					.CLUSTER_MISSILES,
					UpgradeCard.ENGINE_UPGRADE
				]);
				var defender0 = new CardInstance(store, PilotCard.ACADEMY_PILOT, imperialAgent);
				var defender1 = new CardInstance(store, PilotCard.ACADEMY_PILOT, imperialAgent);
				var defender2 = new CardInstance(store, PilotCard.OBSIDIAN_SQUADRON_PILOT, imperialAgent);
				var defender3 = new CardInstance(store, PilotCard.OBSIDIAN_SQUADRON_PILOT, imperialAgent);
				var defender4 = new CardInstance(store, PilotCard.BLACK_SQUADRON_PILOT, imperialAgent);
				var defender5 = new CardInstance(store, PilotCard.BLACK_SQUADRON_PILOT, imperialAgent);
				var squad1 = new Squad(Faction.IMPERIAL, "squad1", 2016, "squad1", [defender0, defender1, defender2, defender3, defender4, defender5]);
				var squad2 = new Squad(Faction.REBEL, "squad2", 2017, "squad2", [attacker]);
				var positions1 = [new Position(458, 895, -90), new Position(450, 845, 90), new Position(450, 795, 90), new Position(450, 745, 90), new Position(450, 695,
					90), new Position(450, 645, 90), new Position(450, 595, 90)];

				var store = Redux.createStore(Reducer.root);
				var environment = new Environment(store, imperialAgent, squad1, rebelAgent, squad2, positions1);
				var tokens = environment.pilotInstances();
				defender0 = tokens[0];
				defender1 = tokens[1];
				defender2 = tokens[2];
				defender3 = tokens[3];
				defender4 = tokens[4];
				defender5 = tokens[5];
				attacker = tokens[6];

				var choices = environment.getUnfriendlyTokensAtRange(attacker, Range.ONE);
				choices.addAll(environment.getUnfriendlyTokensAtRange(attacker, Range.TWO));

				var element0 = React.createElement(TokenChooser,
				{
					attacker: attacker,
					callback: myCallback,
					inputPanelName: "chooseDefender",
					title: "Jam: Select Defender",
					tokens: choices,
				});
				ReactDOM.render(element0, document.getElementById("inputArea0"));

				var element1 = React.createElement(TokenChooser,
				{
					tokens: choices,
					callback: myCallback,
				});
				ReactDOM.render(element1, document.getElementById("inputArea1"));

				function myCallback(defender)
				{
					LOGGER.info("callback() start");
					LOGGER.info("defender = " + defender);
					LOGGER.info("callback() end");
				}
			});
	</script>
</body>

</html>
