<!DOCTYPE html>
<html>
<head>
	<title>AbilityCountUI</title>
	<!--
	<link rel="stylesheet" href="../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="../../lib/requirejs/require-2.3.5.js"></script>
	<script src="require-config.js"></script>
	<script src="../main.js"></script>
 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@15.6.1/dist/react.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@15.6.1/dist/react-dom.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.0/create-react-class.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.5.10/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.1/index.js"></script>
	<script src="AbilityCountUI.viewtest.js" type="module">></script>
</head>
<body>
	<div id="panel"></div>
</body>

</html>