<!DOCTYPE html>
<html>
<head>
	<title>EntityUI</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.0/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.0/create-react-class.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.1/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/redux@4.0.0/dist/redux.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/immutable@3.8.2/dist/immutable.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-redux@5.0.7/dist/react-redux.js"></script>
	<script src="EntityUI.viewtest.js" type="module"></script>
</head>
<body>
	<div class="dtr">
		<div id="panel0" class="dtc"></div>
		<div id="panel20" class="dtc"></div>
	</div>
	<div class="dtr">
		<div id="panel1" class="dtc"></div>
		<div id="panel21" class="dtc"></div>
	</div>
	<div class="dtr">
		<div id="panel2" class="dtc"></div>
		<div id="panel22" class="dtc"></div>
	</div>
	<div class="dtr">
		<div id="panel3" class="dtc"></div>
		<div id="panel23" class="dtc"></div>
	</div>
	<div class="dtr">
		<div id="panel4" class="dtc"></div>
		<div id="panel24" class="dtc"></div>
	</div>
</body>

</html>