<!DOCTYPE html>
<html>
<head>
	<title>FontComparison</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@15.6.1/dist/react.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@15.6.1/dist/react-dom.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.1/index.js"></script>
	<script src="FontComparison.js" type="module">></script>
</head>
<body>
	<div id="panel"></div>
</body>

</html>