<!DOCTYPE html>
<html>
<head>
	<title>ImageWithLabelUI</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.0/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.1/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="ImageWithLabelUI.viewtest.js" type="module">></script>
</head>
<body>
	<table>
		<tr>
			<td id="upgradeTypePanel"></td>
		</tr>
	</table>
</body>

</html>