<!DOCTYPE html>
<html>
<head>
	<title>LabeledImage</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.0/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.0/create-react-class.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.1/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="LabeledImage.viewtest.js" type="module">></script>
</head>
<body>
	<table style="background-color: #F0F0F0;">
		<tr>
			<td id="imperialSkillPanel"></td>
			<td id="rebelSkillPanel"></td>
			<td id="scumSkillPanel"></td>
			<td id="cloakPanel1"></td>
			<td id="cloakPanel2"></td>
			<td id="evadePanel"></td>
			<td id="focusPanel"></td>
			<td id="shieldPanel"></td>
			<td id="stressPanel"></td>
			<td id="atlPanel"></td>
			<td id="dtlPanel"></td>
			<td id="damagePanel"></td>
			<td id="criticalDamagePanel"></td>
		</tr>
	</table>
	<div id="evadePanel"></div>
</body>

</html>