<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>ManeuverChooser</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xwing-miniatures-font@1.0.29/dist/xwing-miniatures.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@15.6.1/dist/react.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@15.6.1/dist/react-dom.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.0/create-react-class.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.5.10/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.1/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/redux@3.7.2/dist/redux.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/immutable@3.8.2/dist/immutable.js"></script>
	<script src="ManeuverChooser.viewtest.js" type="module">></script>
</head>
<body>
	<div id="inputArea0"></div>
	<br />
	<div id="inputArea1"></div>
	<br />
	<div id="inputArea2"></div>
	<br />
	<div id="inputArea3"></div>
	<br />
	<div id="inputArea4"></div>
	<br />
	<div id="inputArea5"></div>
</body>

</html>