<!DOCTYPE html>
<html>
<head>
	<title>ShipCardUI</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.8.1/css/tachyons.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xwing-miniatures-font@1.0.29/dist/xwing-miniatures.css">
	<link rel="stylesheet" href="../view/style.css">
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.0/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.0/create-react-class.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.1/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="ShipCardUI.viewtest.js" type="module">></script>
</head>
<body>
	<table>
		<tr>
			<td id="imperialShip" class="pa2 v-top"></td>
		</tr>
		<tr>
			<td id="rebelShip" class="pa2 v-top"></td>
		</tr>
		<tr>
			<td id="gr75Ship" class="pa2 v-top"></td>
		</tr>
		<tr>
			<td id="cr90Ship" class="pa2 v-top"></td>
		</tr>
	</table>
</body>

</html>